<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>查询结果</title>
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <link href="/static/css/reset.css" rel="stylesheet">
    <!-- Bootstrap3.3.5 CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/queryResult.css" rel="stylesheet">
  </head>
  <body>
  <div class="container">
      <div class="queryResule">
          <h2>医疗记录查询结果</h2>
          {{if .History}}
            <div id="tableDiv">
                <table id="table" style="margin: 0 auto;">
                    <tr>
                        <td>医疗记录ID</td>
                        <td>用户ID</td>
                        <td>病人ID</td>
                        <td>组织（医院）ID</td>
                        <td>记录类型</td>
                        <td>数据类型</td>
                        <td>数据值</td>
                        <td>输入方法</td>
                        <td>时间</td>
                    </tr>
                    {{range .Med.Historys}}
                        <tr>
                            <td>{{.MedicalRecord.MedicalRecordID}}</td>
                            <td>{{.MedicalRecord.UserID}}</td>
                            <td>{{.MedicalRecord.PatientID}}</td>
                            <td>{{.MedicalRecord.OrganizationID}}</td>
                            <td>{{.MedicalRecord.DataType}}</td>
                            <td>{{.MedicalRecord.DataField}}</td>
                            <td>{{.MedicalRecord.Data}}</td>
                            <td>{{.MedicalRecord.EntryMethod}}</td>
                            <td>{{.MedicalRecord.Time}}</td>
                        </tr>
                    {{end}}
                </table>
            </div>
          {{end}}
          <div class="top">
              <div class="middle">
                  <p>
                      <span>医疗记录ID：</span>
                      <span>{{.Med.MedicalRecordID}}</span>
                  </p>
                  <p>
                      <span>用户ID：</span>
                      <span>{{.Med.UserID}}</span>
                  </p>
                  <p>
                      <span>病人ID：</span>
                      <span>{{.Med.PatientID}}</span>
                  </p>
                  <p>
                      <span>组织（医院）ID：</span>
                      <span>{{.Med.OrganizationID}}</span>
                  </p>
                  <p>
                      <span>记录类型：</span>
                      <span>{{.Med.DataType}}</span>
                  </p>
                  <p>
                      <span>数据类型：</span>
                      <span>{{.Med.DataField}}</span>
                  </p>
                  <p>
                      <span>数据值：</span>
                      <span>{{.Med.Data}}</span>
                  </p>
                  <p>
                      <span>输入方法：</span>
                      <span>{{.Med.EntryMethod}}</span>
                  </p>
                  <p>
                      <span>时间：</span>
                      <span>{{.Med.Time}}</span>
                  </p>
              </div>
          </div>
          <p>
              <a href="/index">返回首页</a>
              <a href="/operateMed">返回上一级</a>
          </p>
      </div>
  </div>
  </body>
</html>