body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:2054px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u1601 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1602_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  height:250px;
}
#u1602 {
  border-width:0px;
  position:absolute;
  left:126px;
  top:18px;
  width:264px;
  height:250px;
  display:flex;
}
#u1602 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1602_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1603_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1847px;
  height:316px;
}
#u1603 {
  border-width:0px;
  position:absolute;
  left:207px;
  top:18px;
  width:1847px;
  height:316px;
  display:flex;
}
#u1603 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1603_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1604_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2005px;
  height:322px;
  background:inherit;
  background-color:rgba(106, 150, 215, 0.149019607843137);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1604 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2005px;
  height:322px;
  display:flex;
}
#u1604 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1604_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1605_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1079px;
  height:116px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'方正北魏楷书简体 Bold', '方正北魏楷书简体 Regular', '方正北魏楷书简体';
  font-weight:700;
  font-style:normal;
  font-size:72px;
  color:#FFFFFF;
  text-align:center;
}
#u1605 {
  border-width:0px;
  position:absolute;
  left:415px;
  top:118px;
  width:1079px;
  height:116px;
  display:flex;
  font-family:'方正北魏楷书简体 Bold', '方正北魏楷书简体 Regular', '方正北魏楷书简体';
  font-weight:700;
  font-style:normal;
  font-size:72px;
  color:#FFFFFF;
  text-align:center;
}
#u1605 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1605_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1606 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1607_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
}
#u1607 {
  border-width:0px;
  position:absolute;
  left:1853px;
  top:380px;
  width:140px;
  height:40px;
  display:flex;
  font-family:'方正楷体简体';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u1607 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1607_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1608 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1609_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:86px;
}
#u1609 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:353px;
  width:89px;
  height:86px;
  display:flex;
}
#u1609 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1609_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1610_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:79px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'方正楷体简体';
  font-weight:400;
  font-style:normal;
  font-size:26px;
  color:rgba(0, 0, 0, 0.831372549019608);
  text-align:center;
}
#u1610 {
  border-width:0px;
  position:absolute;
  left:106px;
  top:360px;
  width:163px;
  height:79px;
  display:flex;
  font-family:'方正楷体简体';
  font-weight:400;
  font-style:normal;
  font-size:26px;
  color:rgba(0, 0, 0, 0.831372549019608);
  text-align:center;
}
#u1610 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1610_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1611 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1612_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1612 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:364px;
  width:36px;
  height:36px;
  display:flex;
}
#u1612 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1612_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1613_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u1613 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:364px;
  width:36px;
  height:36px;
  display:flex;
}
#u1613 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1613_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1614 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1615_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:60px;
}
#u1615 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:508px;
  width:300px;
  height:60px;
  display:flex;
  font-family:'方正楷体简体';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u1615 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1615_img.mouseOver {
}
#u1615.mouseOver {
}
#u1615_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1616 {
  position:absolute;
  left:16px;
  top:568px;
  visibility:hidden;
}
#u1616_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:268px;
  height:162px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1616_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1617 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1618_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.23921568627451);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'方正楷体简体';
  font-weight:400;
  font-style:normal;
  font-size:30px;
  color:rgba(64, 64, 64, 0.831372549019608);
  text-align:left;
}
#u1618 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:54px;
  display:flex;
  font-family:'方正楷体简体';
  font-weight:400;
  font-style:normal;
  font-size:30px;
  color:rgba(64, 64, 64, 0.831372549019608);
  text-align:left;
}
#u1618 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1618_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:54px;
  background:inherit;
  background-color:rgba(22, 155, 213, 0.0352941176470588);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'方正楷体简体';
  font-weight:400;
  font-style:normal;
  font-size:30px;
  color:rgba(64, 64, 64, 0.831372549019608);
  text-align:left;
}
#u1618.mouseOver {
}
#u1618_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.23921568627451);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'方正楷体简体';
  font-weight:400;
  font-style:normal;
  font-size:30px;
  color:rgba(64, 64, 64, 0.831372549019608);
  text-align:left;
}
#u1618.selected {
}
#u1618_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1619_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:22px;
}
#u1619 {
  border-width:0px;
  position:absolute;
  left:245px;
  top:16px;
  width:11px;
  height:22px;
  display:flex;
  font-size:6px;
}
#u1619 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1619_img.mouseOver {
}
#u1619.mouseOver {
}
#u1619_img.selected {
}
#u1619.selected {
}
#u1619_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1620 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1621_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.23921568627451);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'方正楷体简体';
  font-weight:400;
  font-style:normal;
  font-size:30px;
  color:rgba(64, 64, 64, 0.831372549019608);
  text-align:left;
}
#u1621 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:54px;
  width:268px;
  height:54px;
  display:flex;
  font-family:'方正楷体简体';
  font-weight:400;
  font-style:normal;
  font-size:30px;
  color:rgba(64, 64, 64, 0.831372549019608);
  text-align:left;
}
#u1621 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1621_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:54px;
  background:inherit;
  background-color:rgba(22, 155, 213, 0.0352941176470588);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'方正楷体简体';
  font-weight:400;
  font-style:normal;
  font-size:30px;
  color:rgba(64, 64, 64, 0.831372549019608);
  text-align:left;
}
#u1621.mouseOver {
}
#u1621_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.23921568627451);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'方正楷体简体';
  font-weight:400;
  font-style:normal;
  font-size:30px;
  color:rgba(64, 64, 64, 0.831372549019608);
  text-align:left;
}
#u1621.selected {
}
#u1621_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1622_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:22px;
}
#u1622 {
  border-width:0px;
  position:absolute;
  left:245px;
  top:70px;
  width:11px;
  height:22px;
  display:flex;
  font-size:6px;
}
#u1622 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1622_img.mouseOver {
}
#u1622.mouseOver {
}
#u1622_img.selected {
}
#u1622.selected {
}
#u1622_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1623 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1624_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.23921568627451);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'方正楷体简体';
  font-weight:400;
  font-style:normal;
  font-size:30px;
  color:rgba(64, 64, 64, 0.831372549019608);
  text-align:left;
}
#u1624 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:108px;
  width:268px;
  height:54px;
  display:flex;
  font-family:'方正楷体简体';
  font-weight:400;
  font-style:normal;
  font-size:30px;
  color:rgba(64, 64, 64, 0.831372549019608);
  text-align:left;
}
#u1624 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1624_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:54px;
  background:inherit;
  background-color:rgba(22, 155, 213, 0.0352941176470588);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'方正楷体简体';
  font-weight:400;
  font-style:normal;
  font-size:30px;
  color:rgba(64, 64, 64, 0.831372549019608);
  text-align:left;
}
#u1624.mouseOver {
}
#u1624_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.23921568627451);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'方正楷体简体';
  font-weight:400;
  font-style:normal;
  font-size:30px;
  color:rgba(64, 64, 64, 0.831372549019608);
  text-align:left;
}
#u1624.selected {
}
#u1624_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1625_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:22px;
}
#u1625 {
  border-width:0px;
  position:absolute;
  left:245px;
  top:124px;
  width:11px;
  height:22px;
  display:flex;
  font-size:6px;
}
#u1625 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1625_img.mouseOver {
}
#u1625.mouseOver {
}
#u1625_img.selected {
}
#u1625.selected {
}
#u1625_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1626_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:60px;
}
#u1626 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:568px;
  width:300px;
  height:60px;
  display:flex;
  font-family:'方正楷体简体';
  font-weight:400;
  font-style:normal;
  font-size:38px;
  color:#000000;
}
#u1626 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1626_img.mouseOver {
}
#u1626.mouseOver {
}
#u1626_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1627 {
  position:absolute;
  left:16px;
  top:628px;
  visibility:hidden;
}
#u1627_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:268px;
  height:162px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1627_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1628 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1629_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.23921568627451);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'方正楷体简体';
  font-weight:400;
  font-style:normal;
  font-size:30px;
  color:rgba(64, 64, 64, 0.831372549019608);
  text-align:left;
}
#u1629 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:54px;
  display:flex;
  font-family:'方正楷体简体';
  font-weight:400;
  font-style:normal;
  font-size:30px;
  color:rgba(64, 64, 64, 0.831372549019608);
  text-align:left;
}
#u1629 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1629_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:54px;
  background:inherit;
  background-color:rgba(22, 155, 213, 0.0352941176470588);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'方正楷体简体';
  font-weight:400;
  font-style:normal;
  font-size:30px;
  color:rgba(64, 64, 64, 0.831372549019608);
  text-align:left;
}
#u1629.mouseOver {
}
#u1629_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.23921568627451);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'方正楷体简体';
  font-weight:400;
  font-style:normal;
  font-size:30px;
  color:rgba(64, 64, 64, 0.831372549019608);
  text-align:left;
}
#u1629.selected {
}
#u1629_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1630_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:22px;
}
#u1630 {
  border-width:0px;
  position:absolute;
  left:245px;
  top:16px;
  width:11px;
  height:22px;
  display:flex;
  font-size:6px;
}
#u1630 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1630_img.mouseOver {
}
#u1630.mouseOver {
}
#u1630_img.selected {
}
#u1630.selected {
}
#u1630_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1631 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1632_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.23921568627451);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'方正楷体简体';
  font-weight:400;
  font-style:normal;
  font-size:30px;
  color:rgba(64, 64, 64, 0.831372549019608);
  text-align:left;
}
#u1632 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:54px;
  width:268px;
  height:54px;
  display:flex;
  font-family:'方正楷体简体';
  font-weight:400;
  font-style:normal;
  font-size:30px;
  color:rgba(64, 64, 64, 0.831372549019608);
  text-align:left;
}
#u1632 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1632_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:54px;
  background:inherit;
  background-color:rgba(22, 155, 213, 0.0352941176470588);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'方正楷体简体';
  font-weight:400;
  font-style:normal;
  font-size:30px;
  color:rgba(64, 64, 64, 0.831372549019608);
  text-align:left;
}
#u1632.mouseOver {
}
#u1632_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.23921568627451);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'方正楷体简体';
  font-weight:400;
  font-style:normal;
  font-size:30px;
  color:rgba(64, 64, 64, 0.831372549019608);
  text-align:left;
}
#u1632.selected {
}
#u1632_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1633_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:22px;
}
#u1633 {
  border-width:0px;
  position:absolute;
  left:245px;
  top:70px;
  width:11px;
  height:22px;
  display:flex;
  font-size:6px;
}
#u1633 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1633_img.mouseOver {
}
#u1633.mouseOver {
}
#u1633_img.selected {
}
#u1633.selected {
}
#u1633_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1634 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1635_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.23921568627451);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'方正楷体简体';
  font-weight:400;
  font-style:normal;
  font-size:30px;
  color:rgba(64, 64, 64, 0.831372549019608);
  text-align:left;
}
#u1635 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:108px;
  width:268px;
  height:54px;
  display:flex;
  font-family:'方正楷体简体';
  font-weight:400;
  font-style:normal;
  font-size:30px;
  color:rgba(64, 64, 64, 0.831372549019608);
  text-align:left;
}
#u1635 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1635_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:54px;
  background:inherit;
  background-color:rgba(22, 155, 213, 0.0352941176470588);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'方正楷体简体';
  font-weight:400;
  font-style:normal;
  font-size:30px;
  color:rgba(64, 64, 64, 0.831372549019608);
  text-align:left;
}
#u1635.mouseOver {
}
#u1635_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.23921568627451);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'方正楷体简体';
  font-weight:400;
  font-style:normal;
  font-size:30px;
  color:rgba(64, 64, 64, 0.831372549019608);
  text-align:left;
}
#u1635.selected {
}
#u1635_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1636_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:22px;
}
#u1636 {
  border-width:0px;
  position:absolute;
  left:245px;
  top:124px;
  width:11px;
  height:22px;
  display:flex;
  font-size:6px;
}
#u1636 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1636_img.mouseOver {
}
#u1636.mouseOver {
}
#u1636_img.selected {
}
#u1636.selected {
}
#u1636_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1637_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:60px;
}
#u1637 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:628px;
  width:300px;
  height:60px;
  display:flex;
  font-family:'方正楷体简体';
  font-weight:400;
  font-style:normal;
  font-size:38px;
  color:#169BD5;
}
#u1637 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1637_img.mouseOver {
}
#u1637.mouseOver {
}
#u1637_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1638 {
  position:absolute;
  left:16px;
  top:688px;
  visibility:hidden;
}
#u1638_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:268px;
  height:108px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1638_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1639 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1640_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.23921568627451);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'方正楷体简体';
  font-weight:400;
  font-style:normal;
  font-size:30px;
  color:rgba(64, 64, 64, 0.831372549019608);
  text-align:left;
}
#u1640 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:54px;
  display:flex;
  font-family:'方正楷体简体';
  font-weight:400;
  font-style:normal;
  font-size:30px;
  color:rgba(64, 64, 64, 0.831372549019608);
  text-align:left;
}
#u1640 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1640_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:54px;
  background:inherit;
  background-color:rgba(22, 155, 213, 0.0352941176470588);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'方正楷体简体';
  font-weight:400;
  font-style:normal;
  font-size:30px;
  color:rgba(64, 64, 64, 0.831372549019608);
  text-align:left;
}
#u1640.mouseOver {
}
#u1640_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.23921568627451);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'方正楷体简体';
  font-weight:400;
  font-style:normal;
  font-size:30px;
  color:rgba(64, 64, 64, 0.831372549019608);
  text-align:left;
}
#u1640.selected {
}
#u1640_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1641_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:22px;
}
#u1641 {
  border-width:0px;
  position:absolute;
  left:245px;
  top:16px;
  width:11px;
  height:22px;
  display:flex;
  font-size:6px;
}
#u1641 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1641_img.mouseOver {
}
#u1641.mouseOver {
}
#u1641_img.selected {
}
#u1641.selected {
}
#u1641_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1642 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1643_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.23921568627451);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'方正楷体简体';
  font-weight:400;
  font-style:normal;
  font-size:30px;
  color:rgba(64, 64, 64, 0.831372549019608);
  text-align:left;
}
#u1643 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:54px;
  width:268px;
  height:54px;
  display:flex;
  font-family:'方正楷体简体';
  font-weight:400;
  font-style:normal;
  font-size:30px;
  color:rgba(64, 64, 64, 0.831372549019608);
  text-align:left;
}
#u1643 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1643_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:54px;
  background:inherit;
  background-color:rgba(22, 155, 213, 0.0352941176470588);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'方正楷体简体';
  font-weight:400;
  font-style:normal;
  font-size:30px;
  color:rgba(64, 64, 64, 0.831372549019608);
  text-align:left;
}
#u1643.mouseOver {
}
#u1643_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.23921568627451);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'方正楷体简体';
  font-weight:400;
  font-style:normal;
  font-size:30px;
  color:rgba(64, 64, 64, 0.831372549019608);
  text-align:left;
}
#u1643.selected {
}
#u1643_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1644_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:22px;
}
#u1644 {
  border-width:0px;
  position:absolute;
  left:245px;
  top:70px;
  width:11px;
  height:22px;
  display:flex;
  font-size:6px;
}
#u1644 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1644_img.mouseOver {
}
#u1644.mouseOver {
}
#u1644_img.selected {
}
#u1644.selected {
}
#u1644_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1645_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:60px;
}
#u1645 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:688px;
  width:300px;
  height:60px;
  display:flex;
  font-family:'方正楷体简体';
  font-weight:400;
  font-style:normal;
  font-size:38px;
  color:#000000;
}
#u1645 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1645_img.mouseOver {
}
#u1645.mouseOver {
}
#u1645_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1646 {
  position:absolute;
  left:16px;
  top:748px;
  visibility:hidden;
}
#u1646_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:268px;
  height:162px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1646_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1647 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1648_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.23921568627451);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'方正楷体简体';
  font-weight:400;
  font-style:normal;
  font-size:30px;
  color:rgba(64, 64, 64, 0.831372549019608);
  text-align:left;
}
#u1648 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:54px;
  display:flex;
  font-family:'方正楷体简体';
  font-weight:400;
  font-style:normal;
  font-size:30px;
  color:rgba(64, 64, 64, 0.831372549019608);
  text-align:left;
}
#u1648 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1648_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:54px;
  background:inherit;
  background-color:rgba(22, 155, 213, 0.0352941176470588);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'方正楷体简体';
  font-weight:400;
  font-style:normal;
  font-size:30px;
  color:rgba(64, 64, 64, 0.831372549019608);
  text-align:left;
}
#u1648.mouseOver {
}
#u1648_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.23921568627451);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'方正楷体简体';
  font-weight:400;
  font-style:normal;
  font-size:30px;
  color:rgba(64, 64, 64, 0.831372549019608);
  text-align:left;
}
#u1648.selected {
}
#u1648_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1649_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:22px;
}
#u1649 {
  border-width:0px;
  position:absolute;
  left:245px;
  top:16px;
  width:11px;
  height:22px;
  display:flex;
  font-size:6px;
}
#u1649 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1649_img.mouseOver {
}
#u1649.mouseOver {
}
#u1649_img.selected {
}
#u1649.selected {
}
#u1649_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1650 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1651_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.23921568627451);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'方正楷体简体';
  font-weight:400;
  font-style:normal;
  font-size:30px;
  color:rgba(64, 64, 64, 0.831372549019608);
  text-align:left;
}
#u1651 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:54px;
  width:268px;
  height:54px;
  display:flex;
  font-family:'方正楷体简体';
  font-weight:400;
  font-style:normal;
  font-size:30px;
  color:rgba(64, 64, 64, 0.831372549019608);
  text-align:left;
}
#u1651 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1651_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:54px;
  background:inherit;
  background-color:rgba(22, 155, 213, 0.0352941176470588);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'方正楷体简体';
  font-weight:400;
  font-style:normal;
  font-size:30px;
  color:rgba(64, 64, 64, 0.831372549019608);
  text-align:left;
}
#u1651.mouseOver {
}
#u1651_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.23921568627451);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'方正楷体简体';
  font-weight:400;
  font-style:normal;
  font-size:30px;
  color:rgba(64, 64, 64, 0.831372549019608);
  text-align:left;
}
#u1651.selected {
}
#u1651_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1652_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:22px;
}
#u1652 {
  border-width:0px;
  position:absolute;
  left:245px;
  top:70px;
  width:11px;
  height:22px;
  display:flex;
  font-size:6px;
}
#u1652 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1652_img.mouseOver {
}
#u1652.mouseOver {
}
#u1652_img.selected {
}
#u1652.selected {
}
#u1652_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1653 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1654_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.23921568627451);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'方正楷体简体';
  font-weight:400;
  font-style:normal;
  font-size:30px;
  color:rgba(64, 64, 64, 0.831372549019608);
  text-align:left;
}
#u1654 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:108px;
  width:268px;
  height:54px;
  display:flex;
  font-family:'方正楷体简体';
  font-weight:400;
  font-style:normal;
  font-size:30px;
  color:rgba(64, 64, 64, 0.831372549019608);
  text-align:left;
}
#u1654 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1654_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:54px;
  background:inherit;
  background-color:rgba(22, 155, 213, 0.0352941176470588);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'方正楷体简体';
  font-weight:400;
  font-style:normal;
  font-size:30px;
  color:rgba(64, 64, 64, 0.831372549019608);
  text-align:left;
}
#u1654.mouseOver {
}
#u1654_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.23921568627451);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'方正楷体简体';
  font-weight:400;
  font-style:normal;
  font-size:30px;
  color:rgba(64, 64, 64, 0.831372549019608);
  text-align:left;
}
#u1654.selected {
}
#u1654_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1655_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:22px;
}
#u1655 {
  border-width:0px;
  position:absolute;
  left:245px;
  top:124px;
  width:11px;
  height:22px;
  display:flex;
  font-size:6px;
}
#u1655 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1655_img.mouseOver {
}
#u1655.mouseOver {
}
#u1655_img.selected {
}
#u1655.selected {
}
#u1655_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1656_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:60px;
}
#u1656 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:748px;
  width:300px;
  height:60px;
  display:flex;
  font-family:'方正楷体简体';
  font-weight:400;
  font-style:normal;
  font-size:38px;
  color:#000000;
}
#u1656 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1656_img.mouseOver {
}
#u1656.mouseOver {
}
#u1656_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1657 {
  position:absolute;
  left:16px;
  top:808px;
  visibility:hidden;
}
#u1657_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:268px;
  height:108px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1657_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1658 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1659_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.23921568627451);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'方正楷体简体';
  font-weight:400;
  font-style:normal;
  font-size:30px;
  color:rgba(64, 64, 64, 0.831372549019608);
  text-align:left;
}
#u1659 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:54px;
  display:flex;
  font-family:'方正楷体简体';
  font-weight:400;
  font-style:normal;
  font-size:30px;
  color:rgba(64, 64, 64, 0.831372549019608);
  text-align:left;
}
#u1659 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1659_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:54px;
  background:inherit;
  background-color:rgba(22, 155, 213, 0.0352941176470588);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'方正楷体简体';
  font-weight:400;
  font-style:normal;
  font-size:30px;
  color:rgba(64, 64, 64, 0.831372549019608);
  text-align:left;
}
#u1659.mouseOver {
}
#u1659_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.23921568627451);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'方正楷体简体';
  font-weight:400;
  font-style:normal;
  font-size:30px;
  color:rgba(64, 64, 64, 0.831372549019608);
  text-align:left;
}
#u1659.selected {
}
#u1659_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1660_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:22px;
}
#u1660 {
  border-width:0px;
  position:absolute;
  left:245px;
  top:16px;
  width:11px;
  height:22px;
  display:flex;
  font-size:6px;
}
#u1660 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1660_img.mouseOver {
}
#u1660.mouseOver {
}
#u1660_img.selected {
}
#u1660.selected {
}
#u1660_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1661 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1662_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.23921568627451);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'方正楷体简体';
  font-weight:400;
  font-style:normal;
  font-size:30px;
  color:rgba(64, 64, 64, 0.831372549019608);
  text-align:left;
}
#u1662 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:54px;
  width:268px;
  height:54px;
  display:flex;
  font-family:'方正楷体简体';
  font-weight:400;
  font-style:normal;
  font-size:30px;
  color:rgba(64, 64, 64, 0.831372549019608);
  text-align:left;
}
#u1662 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1662_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:54px;
  background:inherit;
  background-color:rgba(22, 155, 213, 0.0352941176470588);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'方正楷体简体';
  font-weight:400;
  font-style:normal;
  font-size:30px;
  color:rgba(64, 64, 64, 0.831372549019608);
  text-align:left;
}
#u1662.mouseOver {
}
#u1662_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.23921568627451);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'方正楷体简体';
  font-weight:400;
  font-style:normal;
  font-size:30px;
  color:rgba(64, 64, 64, 0.831372549019608);
  text-align:left;
}
#u1662.selected {
}
#u1662_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1663_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:22px;
}
#u1663 {
  border-width:0px;
  position:absolute;
  left:245px;
  top:70px;
  width:11px;
  height:22px;
  display:flex;
  font-size:6px;
}
#u1663 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1663_img.mouseOver {
}
#u1663.mouseOver {
}
#u1663_img.selected {
}
#u1663.selected {
}
#u1663_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
